<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/instructorPage.css">
    <title>Profile page</title>
</head>
<body>
   <div id="main-container">
    <header>
        <div id="minor-nav">
            <div id="profile-icon">
                <i class="fa-regular fa-user"></i> My Profile
            </div>
            <div id="num-views">
                <p>Number of students</p>
                <h3>8000</h3>
            </div>
        </div>
    </header>

    <main>

        <div id="profile-container">
            <div id="container-head">
                <li>
                    <ul> <i class="fa-regular fa-user"></i><a href="#" id ="profilebtn"class="nav-icons" style="color:  #06c4c4">Profile</a> </ul>
                    <ul><i class="fa-sharp fa-regular fa-address-card"></i><a href="#" class="nav-icons">Edit Profile</a> </ul>
                    <ul><i class="fa-sharp fa-solid fa-arrow-down-up-lock"></i><a href="#" class="nav-icons">Change Password</a> </ul>
                    <ul><i class="fa-solid fa-arrow-up-from-bracket"></i><a href="#" class="nav-icons">Upload Video</a> </ul>
                </li>             
            </div>

            <!-- PROFILE -->

            <div id="container-body">
                <div id="person-info">
                    <img src="../static/images/profile.png" alt="" srcset="">
                    <h3>James Roberts</h3>
                    <h5>Graphic Designer</h5>
                    <h5>Ghana</h5>
                </div>

                <div id="person-details">
                    <div class="details"><span class="detail-info">Name</span>  <span class="colon">:</span id ="name"><span>James Roberts</span></div>
                    <div class="details"><span class="detail-info">Age</span>  <span class="colon">:</span><span id="interest">26</span></div>
                    <div class="details"><span class="detail-info">Email</span>  <span class="colon">:</span><span id="email">jamesroberts@gmail.com</span></div>
                    <div class="details"><span class="detail-info">Specialty</span>  <span class="colon">:</span><span id="specialty">Graphic Designer</span></div>
                    <div class="details"><span class="detail-info">YearsExperience</span>  <span class="colon">:</span><span id="occupation">5</span></div>
                    <div class="details"><span class="detail-info">Country</span>  <span class="colon">:</span><span id= "nationality">Ghanaian</span></div>
                </div>
            </div>

            <!-- EDIT PROFILE PAGE -->

            <form action="/editprofile" method="post" id="edit-profile">
                <label for="fname" class="labels">First name</label><br>
                <input type="text" name="fname" id="fname" class="area" value="James"><br>
                <label for="lname" class="labels">Last name</label><br>
                <input type="text" name="lname" id="lname" class="area" value="Roberts"><br>
                <label for="Old_email" class="labels">Old Email</label><br>
                <input type="email" name="Old_email" id="Old_email" class="area" value="jamesroberts@gmail.com"><br>
                <label for="New_email" class="labels">New Email</label><br>
                <input type="email" name="New_email" id="New_email" class="area" value=""><br>
                <label for="nationality" class="labels">Nationality</label><br>
                <input type="text" name="nationality" id="nationality" class="area" value="Ghanaian"><br> 
                <label for="specialization" class="labels">Specialization</label><br>
                <input type="text" name="specialization" id="specialization" class="area" value="C++"><br> 
                <label for="yearExperience" class="labels">Years of Expereince</label><br>
                <input type="text" name="yearExperience" id="yearExperience" class="area" value=""><br> 

                <div id="btns">
                    <button type="submit"  class="discard">Discard</button>
                    <button type="submit"  class="save">Save</button>
                </div>
                
            </form>


 <!-- 
                    RESET PASSWORD
 -->

  <form action="" method="post" id="reset-password">

    <label for="old-password" class="labels">Enter old password</label><br>
    <input type="password" name="old-password" id="old-password" class="area"><br>
    <label for="new-password" class="labels">Enter new password</label><br>
    <input type="password" name="new-password" id="new-password" class="area"><br>
    <label for="confirm-password" class="labels">Confirm password</label><br>
    <input type="password" name="confim-password" id="confirm-password" class="area"><br>
    
    <div id="btns">
        <button type="submit"  class="discard">Discard</button>
        <button type="submit"  class="save">Save</button>
    </div>

  </form>


  <!-- 
        UPLOAD VIDEO
  -->

   <form action="/uploadvid" method="POST" id="upload-video"  enctype="multipart/form-data">
    <div>
      <label for="title" class="labels">Course Title</label><br>
      <input name="title" type="text"  id="title" class= "area">
    </div>   
    <div class="description">
      <label for="description" class="labels">Description</label><br>
       <textarea name="description" id="description" cols="20" rows="6" placeholder="Enter Details...">
      </textarea>
    </div> 
    <div id= "upload">
      <label for="video" class="labels">Upload video</label><br>
      <input type="file" name="video" id="video">
    </div> 
    
    <div id="btns">
        <button type="submit"  class="discard">Discard</button>
        <button type="submit"  class="save">Save</button>
    </div>
  </form>
        </div>
    </main>

   </div>
</div>
                                


    <footer>
        <p> <span id="year"></span>| All Right Reserved</p>
    </footer> 
</body>

<script src="https://kit.fontawesome.com/9c854c6a40.js" crossorigin="anonymous"></script>
<script src="../static/js/instructorPage.js"></script>
</html>