<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - E-Learning</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
    
<body>
   <div class="main-container">
    <div class="sub-container">
        <img src="../static/images/login.jpg" alt="loginsvg">

    </div>

    <div class="sub-container">
        <form action = "/login" method="POST">
            <p><i class="bi bi-person"></i> Log In</p><br>
            <hr><br><br>
            <input name="email" type="email" placeholder="Enter your e-mail"><br><br>
            <input name="password" type="password" placeholder="Enter your password"><br><br>
            <button class="btn">Log In</button>


            
        </form>
    </div>
   </div>
</body>
</html>