<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - E-Learning</title>
    <link rel="stylesheet" href="../static/css/Signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
   
<body>
  <div class="flex-container">
    <div class="toggle-btn">
      <div id="gradient-btn"></div>
      <button type="button" class="signup-btn" onclick="tutor()">Sign up as Student</button>
      <button type="button" class="signup-btn" onclick="student()">Sign up as Tutor</button>
    </div>
    <!-- <p>Already signed up? <a href="" target="">Log In</a></p> -->
    <form action="/signup" method="POST" id="student">
        <input name="firstname" type="text" placeholder="First Name" required>
        <input name="lastname"  type="text" placeholder="Last Name" required>
        <input name="email" type="email" placeholder="E-mail" required>
        <input name="password" type="password" placeholder="Create a password">
        <input name="cpassword"  type="password" placeholder="comfirm password">
        <input type="hidden" name="role" value="student">
        <button  class="submit-btn">Sign Up</button>
    </form>
    <form action="/signup" method="POST" id="tutor">
        <input name="first_name" type="text" placeholder="First Name" required>
        <input name="last_name"   type="text" placeholder="Last Name" required>
        <input name="E-mail" type="email" placeholder="E-mail" required>
        <input name="nationality" type="text" placeholder="Nationality" required>
        <input  name="specialization" type="text" placeholder="Field of specialization" required>
        <input name="YearExperience" type="text" placeholder="Years of experience" required>
        <input name="pass_word" type="password" placeholder="Create a password" required>
        <input name="cpass_word" type="password" placeholder="Confirm password" required>
        <input name="file" type="file" placeholder="upload profile image">
        <input type="hidden" name="role" value="instructor">
        <button class="submit-btn">Sign Up</button>
    </form>

  </div>
    
    <script>
      const Student = document.getElementById("student");
      const Tutor = document.getElementById("tutor");
      const gradientbg = document.getElementById("gradient-btn");
      const container = document.getElementsByClassName("flex-container");


      console.log(this)
      const student = () => {
        Student.style.left = "-450px";
        Tutor.style.left = "50px";
        gradientbg.style.left = "150px";

      }
      const tutor = () => {
        Student.style.left = "50px";
        Tutor.style.left = "480px";
        gradientbg.style.left = "0"

      }


    </script>
    
</body>
</html>