<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - E-Learning</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
   
<body>

    <div class="flex-container">
        <div class="flex-items">
            <img src="../static/images/signup.jpg" alt="SignUpImg">
        </div>
        
        <div class="flex-items">
            <form action="/signup" method="get">
                <p><i class="bi bi-person"></i>Sign Up</p><br>
                <p id="already">Already signed up? <a href="" target="">Log In</a></p><br><br>
                <input type="text" placeholder="First Name" required>
                <input type="text" placeholder="Last Name" required><br><br>
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Create a password"><br><br>
                <input type="radio" name="SignUpOptions"><span id="profile">Sign Up as a tutor</span><br><br>
                <input type="radio" name="SignUpOptions"><span id="profile">Sign Up as student</span><br><br><br>
                <button class="btn">Sign Up</button>
            </form>
        </div>
        

    </div>

    
        <script>
            function gestures(){
                alert("Sign Up to access courses and learning materials");
            }
        </script>
    
</body>
</html>