*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(232, 227, 227);
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-top: 150px;
    background-color: #fff;
    padding: 40px 0;
    border-radius: 10px;
}
hr{
    border: 2px solid #008080;
    width: 40%;
}
i{
    margin: 5px;
}
p{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

input{
    width: 70%;
    padding: 5px 10px;
    font-size: 19px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    border-bottom: 1px solid rgb(41, 40, 40);
    margin: 10px 0;
}

.btn{
    border: none;
    width: 50%;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    background-color: #008080;
    cursor: pointer;   
    margin-top: 20px;
}