@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Manrope:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
body{
    position: relative;
    background: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
nav h1 a{
    font-family: 'Lugrasimo', cursive;
}
.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}
.search-bar:focus{
    outline: none;
}
.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px;
    border-left: none;
}

.search-btn img{
    height: 100%;
}
li {
    list-style: none; /* Remove the list-style (dot) */
  }

  /* This is when the user enters something which is not found. */

#no-results {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: rgb(229, 62, 62);
    font-weight: bold;
  }

.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
    padding-top: 20px;
}
.last-item{
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}
.links:hover{
    background: rgba(0, 0, 0, 0.1);
}
.video-container{
    width: calc(100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 20px 100px 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 30px 20px;
    overflow-x: hidden;
}

.video{
    min-height: 200px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  
}
.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.video-content{
    padding: 10px ;
}

@media screen and (max-width: 1150px){
    .video-container{
        grid-template-columns: repeat(3, 33%);
        padding: 20px 30px 0 10px;
    }
}
@media screen and (max-width:1000px){
    .video-container{
        grid-template-columns: repeat(2, 50%);
        width: calc(100%-200px);
        
    }
    .side-bar{
        min-width: 200px;
    }
}
@media screen and (max-width: 800px){
    .side-bar{
        position: relative;
        top: 70px;
        left: 10px;
        right: 10px;
        width: 100%;
        overflow-x: scroll;
        display: flex;
        align-items: flex-start;
        gap: 15px;
        height: 100px;
        background: none;
    }
    
    .side-bar::-webkit-scrollbar {
        display: none;
    }
    .last-item{
        display: none;
    }
    .links{
        background-color: rgba(0, 0, 0, 0.06);
        padding: 5px 20px;
        border-radius: 20px;
        width: max-content;
        display: flex;
        width: 100%;
    }
    .side-bar a:nth-child(9){
        display: none;
    }
   
    .video-container{
      width: 100vw;
      margin-top: 30px;
      margin-left: 10px;
        
    }
    .links:hover{
        background: #000;
        color: #fff;
    }
}
@media screen and (max-width: 400px){
    .video-container{
        grid-template-columns: 1fr;  
    }
    
.search-bar{
    width: 100%;
}
.search-box{
    margin-right: 10px;
    width: 65%;
}

.search-btn{
    width: 30%;
}
}