
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-white: #fff;
    --color-green: #008080;
    
}
html{
  scroll-behavior: smooth;
}
/*========General styling=============*/

a{
    text-decoration: none;
}
h1{
  font-size: 42px;
  line-height: 60px;
}
h2{
  font-size: 35px;
  line-height: 48px;
}

li{
  list-style: none;
}
.section__padding{
  padding: 3rem 6rem;
}
.header__padding{
  padding: 10rem 4rem 4rem;
}
/*============Header=========*/
.app__header{
  background-image: url('../images/bg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  color: var(--color-white);
  z-index: 5;

}

.app__header-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    color: var(--color-white);
    height: 60px;

}
nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li{
  margin: 0 20px;
  font-size: 18px;
  transition: color .3s ease;
}
nav ul li:hover{
  color: var(--color-green);
}
.changeBg{
  background-color: var(--color-white);
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.app__header-sign button,
.app__header-smallscreen_button{
  background-color: var(--color-green);
  padding: 7px 25px;
  margin: 0 10px;
  border-radius: 30px;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.app__header-sign button:hover{
  background-color: var(--color-white);
  border: 2px solid var(--color-green);
  color: var(--color-green);
}
.app__header-menu{
  display: none;
  font-size: 1.3rem;
}
.app__header-smallscreen_menu{
  position: absolute;
  right: 2rem;
  top: 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  width: 250px;
  transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
}
.app__header-smallscreen_menu li{
  margin: 5px 0;
  font-size: 1.3rem;
}
.app__header-smallscreen_menu.open{
  height: 250px;
}

.header-button {
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 20px;
  transition: all 0.5s;
}

.header-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.header-button:hover span {
  padding-right: 20px;
}

.header-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*===============End of header styles===============*/

/*=============Our Services==========*/
.app__services{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  color: #323131;
  width: 100%;
}
.app__services-section_container{
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  margin-top: 4rem;
}
.app__services-section_container::-webkit-scrollbar{
  display: none;
}
.app__services-section_container h6{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.app__services-section_container article{
  margin: 0 20px;
  text-align: center;
  min-width: 300px;
}
.app__services-section_container p,
.services-text{
  font-size: 14px;
}

.app__services-section_container article img{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 110px;
}
/*============end of services ===========*/
.online_class{
  display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 20px;
 margin-top: 100px;
 color: #323131;
}
.online_class-image{
  width: 550px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  
}
.online_class-image img,
.study-group-image img{
 width: 100%;
 transition: 400ms ease-in-out;
}
.online_class img:hover,
.study-group-image img:hover{
  transform: scale(1.2);
}
.subtext{
 color: #008080;
 font-weight: 700;
}
.online_class button, 
.group_study button{
  background-color: #008080;
  padding: 5px 10px;
  margin-top: 20px;
  color: #fff;
  border: 2px solid #008080;
  transition: 400ms ease-in-out;
}
.online_class button:hover, 
.group_study button:hover{
  background-color: #fff;
  color: #000;

}

.study-group-image{
  width: 550px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.online_class h2, .group_study h2{
  margin: 10px 0;
  font-weight: 700;
}
/*Online classs==============*/
.group_study{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  gap: 30px;
  color: #323131;
}

/*===============footer styles=================*/
footer{
  background-color: #000;
  color: #fff;
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
}

@media screen and (max-width:1250px){
  .online_class-image{
    width: 450px;
    height: 300px;
  }

    .online_class h2, .group_study h2{
      margin: 10px 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
}
@media screen and (max-width: 1050px){
  .online_class{
    grid-template-columns: 40% 60%;
  }
  .group_study{
    grid-template-columns: 60% 40%;
  }
  .online_class-image, .study-group-image{
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width:950px){
  .app__header-menu{
    display: block;
  }
  nav ul,
  .app__header-sign{
    display: none;
  }
  nav{
    padding: 2rem 1rem;
  }
  .app__header-smallscreen_menu{
    display: flex;
  }
  .app__header-smallscreen_button{
   margin: 0 20px;
  }

  .header__padding{
    padding: 16rem 2rem 4rem;
  }
  h1{
    font-size: 36px;
    line-height: 50px;
  }
  .section__padding{
    padding:4rem 2rem;
  }
}
@media screen and (max-width: 750px){
  footer{
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
  }
}
@media screen and (max-width: 650px){
  h2{
    font-size: 28px;
    line-height: 38px;
  }
  .online_class, .group_study{
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 20px;
  }
  .online_class-image, .study-group-image{
     width: 100%;

  }
}
@media screen and(max-width: 550px){
  .app__header-smallscreen_menu{
    position: absolute;
    top: 8rem;
    width: 100%;
  }
  .app__services-section_container{
    width: 100%;
  }
   
}
@media screen and (max-width: 530px){
  footer{
    grid-template-columns: 1fr;
    gap: 30px;
   }
}

@media screen and (max-width:450px){
  h1{
    font-size: 40px;
    line-height: 50px;
  }
  .app__header-smallscreen_menu{
    width: 100%;
    right: 0;
  }
  .section__padding{
    padding:3rem 1rem;
  }
}
@media screen and (max-width:350px){
  h1{
    font-size: 30px;
    line-height: 42px;
  }
  .header__padding{
    padding: 16rem 1rem 0;
  }
}








