*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}
:root{
    --color-white: #fff;
    --color-green: #008080;    
}
/* 
---------------------------------------------------------------------
                THIS IS THE PROFILE SIDE.
----------------------------------------------------------------------
*/
#main-container{
    width: 80%;
    height: 55rem;
    background-color: #eefafa;;
    margin: 0 auto;
    font-family: "Poppinss", sans-serif; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    height: 20rem;
    width: 100%;
    padding-top: 3rem;
    background-color: rgb(0, 128, 128, 0.7);
    position: absolute;
    font-family: sans-serif;
    top: 0;
}

header #minor-nav
{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
       
}

#profile-icon{
    font-size:1.6rem;
    color: white;
    margin-top: 2rem;
}

#num-views{
    height: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: white;
    margin-top: 2rem;
}

#num-views p{
    font-size: large;
    margin-bottom: 0.3rem;
}

#num-views h3{
    font-size: 2rem;
    
}

/* THIS IS THE CONTAINER OF THE PROFILE */

#profile-container{
    background-color:#fff;
    width: 80%;
    height: 38rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: absolute;
    left: 18.5%;
    top: 12rem;
    border-radius: 1rem;
}

#container-head{
    height: 10%;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(179, 179, 179);
    
    
}
#container-head li{
    display: flex;
    justify-content: space-evenly;
}

#container-head li ul a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    
}



#container-body{
    display: flex;  
    justify-content: space-between;
   
}

#person-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    margin-top: 2rem;
  
}

#person-info img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

#person-info h5{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 0.3rem;
    font-family: 'Poppins';
}

#person-details{
    width: 70%;
    height: 100%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    font-family: 'Poppins';
    
}

#person-details .details:nth-child(odd){
    background-color: #d9fafa;;
}

.details{
    font-size: 1.3rem;
    height: 3rem;
    margin-bottom: 0.9rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}



.details .detail-info{
    width: 4rem;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.colon{
    margin-left: 4rem;
    margin-right: 2rem;
    
}

li ul i{
    margin-right: 0.5rem;
    cursor: pointer;
    color:#02c0c0
}

/* FOOTER */

footer{
    width: 100%;
    height: 3rem;
    /* position: absolute; */
    bottom: 0%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#02c0c0;
}

footer p{
    font-size: large;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

#year{
    margin-right: 1rem;
}


/* 
************************************************************************
            END OF PROFILE SIDE.
************************************************************************
*/

/* 
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            EDIT PROFILE PAGE 

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

*/

form{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    margin-left: 4.1rem;
}

.labels{
    font-size: larger;
}

.area{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    width: 80%;
    height: 2rem;
    padding-left: 1rem;
    font-size: large;
}


.save, .discard{
    width: 39.9%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: rgb(16, 181, 172);
    border:2px solid rgb(16, 181, 172) ;
    transition: all 700ms ease-in-out;
    font-size: 1.0rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 5px;
}

.save:hover{
    color: rgb(16, 181, 172);
    background-color: #fafafa;
      border: 2px solid rgb(16, 181, 172);
}

.discard:hover{
    color: rgb(16, 181, 172);
    background-color: #fafafa;
      border: 2px solid rgb(16, 181, 172);
}

text:focus
{
  outline: #02c0c0;
}



/* 

.........................................................................
                UPLOAD VIDEO
..........................................................................
*/

form  textarea{
    /* outline:none; */
    /* padding: 8px 10px; */
    /* border-radius: 5px; */
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
    /* border:none; */
  }
  form .description{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
  }
  /* form .description textarea{
   margin-left: 12px;
  } */
  
  /* #upload{
    width: 80%;
  
  } */
  [type="file"]::-webkit-file-upload-button
  {   width: 60%;
      background-color: rgb(16, 181, 172);
      border:2px solid rgb(16, 181, 172) ;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
       color: #fff;
       margin: 1rem;
       font-size: large;
  }
  [type="file"]::-webkit-file-upload-button:hover,
  input[type="submit"]:hover{
      background-color: #fafafa;
      border: 2px solid rgb(16, 181, 172);
      color:rgb(16, 181, 172);
  }



  /* 
  '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
                    EXTRA FEATURES
  ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
   */

   #edit-profile, #reset-password, #upload-video{
    display: none;
   }

  
   /* 
   ................................................................
        THIS IS A MOBILE VERSION
   ........................................................
   
   
   */

   /* Styles for screens with a maximum width of 600 pixels */

  