@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Manrope:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}
:root{
    --color-white: #fff;
    --color-green: #008080;    
}
/* 
---------------------------------------------------------------------
                THIS IS THE PROFILE SIDE.
----------------------------------------------------------------------
*/

a{
    text-decoration: none;
    color: #fff;
}
#main-container{
    width: 80%;
    height: 55rem;
    background-color: #eefafa;;
    margin: 0 auto;
    font-family: "Poppinss", sans-serif; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
    height: 20rem;
    width: 100%;
    padding-top: 3rem;
    background-color: rgb(0, 128, 128, 0.7);
    position: absolute;
    font-family: sans-serif;
    top: 0;
}

header #minor-nav
{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
       
}

#profile-icon{
    font-size:1.6rem;
    color: white;
    margin-top: 2rem;
}

#num-views{
    height: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: white;
    margin-top: 2rem;
}
#num-views h1 a{
    font-family: 'Lugrasimo', cursive;
}

/* THIS IS THE CONTAINER OF THE PROFILE */

#profile-container{
    background-color:#fff;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: absolute;
    left: 10%;
    top: 12rem;
    border-radius: 1rem;
}

#container-head{
    height: 10%;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(179, 179, 179);
    }
#container-head li{
    display: flex;
    justify-content: space-between;
}

#container-head li ul a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    
}

#container-body{
    display: flex;  
    justify-content: space-between;
     flex-direction: row;
}

#person-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    margin-top: 2rem;
  
}

#person-info img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

#person-info h5{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 0.3rem;
    font-family: 'Poppins';
}

#person-details{
    width: 70%;
    height: 100%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    
}

#person-details .details:nth-child(odd){
    background-color: #d9fafa;;
}

.details{
    font-size: 18px;
    height: 3rem;
    margin-bottom: 0.9rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 90%;
}

.details .detail-info{
 margin: 0 10px 0;

}

li ul i{
    margin-right: 0.5rem;
    cursor: pointer;
    color:#02c0c0
}

/* FOOTER */

footer{
    width: 100%;
    height: 3rem;
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-green);
}

footer p{
    font-size: large;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

#year{
    margin-right: 1rem;
}


/* 
************************************************************************
            END OF PROFILE SIDE.
************************************************************************
*/

/* 
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            EDIT PROFILE PAGE 

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

*/

form{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    margin-left: 4.1rem;
}

.labels{
    font-size: larger;
}

.area{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    width: 80%;
    height: 2rem;
    padding-left: 1rem;
    font-size: large;
}


.save, .discard{
    width: 39.9%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: rgb(16, 181, 172);
    border:2px solid rgb(16, 181, 172) ;
    transition: all 700ms ease-in-out;
    font-size: 1.0rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 5px;
}

.save:hover{
    color: rgb(16, 181, 172);
    background-color: #fafafa;
      border: 2px solid rgb(16, 181, 172);
}

.discard:hover{
    color: rgb(16, 181, 172);
    background-color: #fafafa;
      border: 2px solid rgb(16, 181, 172);
}

text:focus
{
  outline: #02c0c0;
}


  /* 
  '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
                    EXTRA FEATURES
  ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
   */

   #edit-profile, #reset-password, #upload-video{
    display: none;
   }

  @media screen and (max-width:950px){
    #container-body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  }

  @media screen and (max-width:900px){
    .details{
        width: 100%;
    }
    #main-container{
        width: 100%;
        margin: 0;
    }

  }
  @media screen and (max-width: 750px){
   #profile-container{
    width: 94%;
    left: 3%;
    margin-right: 3%;
   }
  }
  @media screen and (max-width: 450px){
    #container-head i{
        display: none;
    }
    #container-head li ul{
        margin: 0 5px;
    }
  }
  